.nav-item {
    padding-left: 21px;
    padding-right: 21px;
    border-right: 1px solid #494949;
}

.nav-item:first-child {
    padding-left: 0;
}

.nav-item:last-child {
    padding-right: 0;
    border: none;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.top__img {
    margin-top: 20px;
    height: 671px;
    padding-top: 80px;
    margin-bottom: 8px;
}

.top__arrow {
    margin-top: 49px;
}

.bluetooth__img {
    height: 427px;
    background: url(pass) no-repeat 0 119px, url(pass) no-repeat right 119px;
    margin-left: 0;
    margin-right: 0;
}

.center_bluetooth {
    padding-left: calc(50% - 622px);
    padding-right: calc(50% - 622px);
}

.bluetooth {
    padding-bottom: 80px;
}

.bluetooth__heading {
    font-size: 96px;
    line-height: 112px;
    display: flex;
    justify-content: center;
}

.bluetooth__heading_day-mimi {
    padding-top: 45px;
}

.bluetooth__heading_day {
    font-size: 300px;
    line-height: 352px;
    padding-left: 74px;
}

.info {
    padding-top: 100px;
    padding-bottom: 100px;
}

.info__text {
    width: 765px;
    margin: auto;
}

.info__item {
    min-height: 140px;
    padding-left: 24px;
    padding-right: 24px;
}

.info__item-heading {
    margin-bottom: 5px;
}

.info__slider {
    padding-left: calc(50% - 640px);
    padding-right: calc(50% - 640px);
}

.text_info {
    width: 765px;
    margin: auto;
}

.flow {
    padding-bottom: 870px;
}

.flow_center {
    padding-left: calc(50% -479px);
    padding-right: calc(50% -479px);
}

.flow_ol {
    margin-left: 15px;
}

.settings {
    padding-bottom: 100px;
}

.settings__slider {
    display: none;
}

.settings__slider-img {
    display: flex;
    justify-content: center;
    margin-top: 71px;
}

.settings__content {
    width: 749px;
    margin: auto;
}

.text_settings-p {
    width: 958px;
    margin: auto;
}

.mouse {
    display: flex;
    flex-wrap: wrap;
}

.mouse_center {
    padding-left: calc(50% - 655px);
    padding-right: calc(50% - 655px);
}

.mouse__item {
    height: 557px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.muse__text_1 {
    padding-right: 217px;
    order: 2;
}

.mouse__text_1 .heading {
    text-align: left;
}

.mouse__text_1 text {
    text-align: left;
}

.mouse__text_2 {
    padding-left: 217px;
    order: 3;
}

.mouse__text_2 .text {
    text-align: right;
}

.mouse__img_1 {
    order: 1;
    background-image: url(pas);
}

.mouse__img_2 {
    order: 4;
    background-image: url(pas);
}